[2012-07-09 11:18] stas opened #10 "Support inline labels"
Currently there's no support for Foundation3 inline labels.
![](http://i.imgur.com/j6MH7.png)

[2012-09-25 20:06] keilmillerjr opened #18 "Errors for file field"
First, I'd like to say thank you for this awesome gem.

When there is an error for `f.file_field`, the error field has abnormal placement. I am using safari 6.0.1. Any way to rectify this?

[2012-09-26 03:52] keilmillerjr opened #19 "Flash Helper keys are incorrect"
I'm not sure if the flash helper keys are incorrect, or just outdated.

https://github.com/sgruhier/foundation_rails_helper/blob/master/lib/foundation_rails_helper/flash_helper.rb

[code]

http://foundation.zurb.com/docs/elements.php
There are 4 types of alert boxes in foundation:

[code]

Maybe tomorrow if I have time I'll try to push a fix to this repo for it. I have never done a pull request be

[2012-09-26 14:16] #19 closed, assigned to nobody

[2012-09-28 02:56] keilmillerjr opened #21 "Error in production mode"
Hello. I am getting an error in the log when in production mode.

`<module:ApplicationHelper>': uninitialized constant ApplicationHelper::FoundationRailsHelper (NameError)`

At first I thought it was because I am using 0.3.alpha, then I switched to 0.2.1 and the issue still remains. Everything works fine when in development mode. If anyone has any ideas, please let me know.

[2012-10-06 15:02] #21 closed, assigned to nobody

[2013-01-01 18:25] keilmillerjr opened #24 "Consider gem version bump?"
https://rubygems.org/gems/foundation_rails_helper

Versions
0.2.1 January 15, 2012
0.2 January 15, 2012
0.1.alpha January 14, 2012

Happy new year! There has been some great bug fixes since gem version 0.2.1, which released almost a year ago. I currently am bundling this gem directly from this github repo. However, I think it would be time to do a version bump for everyone pulling from rubygems.or

[2013-01-01 21:03] #24 closed, assigned to nobody

[2013-01-06 21:10] keilmillerjr opened #26 "errors on select box"
I'm using Safari 6.0.2. I have an error on a select box. Placement of the select box is off, making the error text slightly cut off.

Anyone else experience this issue?

[2013-03-09 02:54] jbhannah opened #28 "Zurb Foundation 4 close button requires data-alert"
[Alert boxes](http://foundation.zurb.com/docs/components/alert-boxes.html) that have a close button need to have the `data-alert` attribute to be able to be closed in Zurb Foundation 4.

[2013-05-13 00:45] #28 closed, assigned to nobody

[2013-06-04 14:43] #26 closed, assigned to nobody

[2013-06-04 17:11] rterbush opened #32 "form_for fails on Spree with "undefined method `human_attribute_name' for NilClass:Class" for any field"
Trying to use your helpers on Spree. Finding that it works great on some forms, but on following login form, it fails with the above error. The form works fine if I use form_for_with_foundation.

[code]

[2013-06-04 17:12] rterbush opened #33 "form_for fails on Spree with "undefined method `human_attribute_name' for NilClass:Class" for any field"
Trying to use your helpers on Spree. Finding that it works great on some forms, but on following login form, it fails with the above error. The form works fine if I use form_for_without_foundation.

[code]

[2013-06-04 17:39] #32 closed, assigned to nobody

[2013-06-04 19:15] #33 closed, assigned to nobody

[2013-06-09 23:37] charleyhine opened #34 "Unable to close alert boxes"
They popup fine but the 'x' does not close them.

[2013-06-23 22:41] diegotanel opened #35 "Rails doesn't write the html for show flash message"
When I create a producto instance, my html is like show below:

[code]

They no have the class and attributes...

[code]

My ApplicationHelper:

[code]

If manually add this code, I can see the flash message:

[code]

Can you help me?
Thank you

[2013-06-25 14:10] #35 closed, assigned to nobody

[2013-07-01 03:31] ndbroadbent opened #36 "Rails 4 support"
It would be awesome if you could please update your gem to support Rails 4. I think it's just a gemspec issue:

[2013-07-01 20:47] rterbush opened #37 "Overriding/preventing auto labels"
Is there a way to prevent form_for from creating labels in addition to the ones I already have defined in my layout? I've not found a way to prevent this behavior.

Thanks

[2013-07-04 10:11] #36 closed, assigned to nobody

[2013-07-26 18:41] jconley88 opened #39 "Specs fail in Rails 4"
I'm having trouble getting any of the specs to pass.  It looks like most of them fail due to a 'model_name' method missing:

  26) FoundationRailsHelper::FormHelper errors generator should display errors
     Failure/Error: form_for(@author) do |builder|
     NoMethodError:
       undefined method `model_name' for Author:Class
     # ./lib/foundation_rails_helper/action_view_extension.rb:8:in`form

[2013-07-26 21:08] #39 closed, assigned to nobody

[2014-03-27 13:03] paulkoegel opened #50 "forms still get a 'nice' class, which is not being used in Foundation 5 anymore"
last documentation of nice  I could find:
http://foundation.zurb.com/docs/v/2.2.1/forms.php

what's the target Foundation version of this Gem?

JFYI: we're using it in a Rails 4.1 app with foundation-rails (5.2.1.0). working fine so far.

[2014-03-27 19:50] paulkoegel opened #51 "can't install in Rails 4.1 b/c of tzinfo dependency clash"
Bundler could not find compatible versions for gem "tzinfo":
  In Gemfile:
    foundation_rails_helper (>= 0) ruby depends on
      tzinfo (~> 0.3.37) ruby

[code]

[2014-03-27 19:54] #51 closed, assigned to nobody

[2014-03-27 22:37] paulwittmann opened #53 "Exception when a "value" option is set on a Rails label helper."
Using my fork https://github.com/paulwittmann/foundation_rails_helper (which only updated the tzinfo gem) and Rails 4.1.rc1, I get the following error:

    NoMethodError - undefined method `html_safe' for {:value=>false}:Hash:
     () Users/paul/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/bundler/gems/foundation_rails_helper-03f1be5eb06c/lib/foundation_rails_helper/form_builder.rb:19:in `label'

Ev

[2014-05-02 18:38] JamesDullaghan opened #55 "flash_helper only renders standard color."
[code]

passes notice as a string so always defaults to standard color.

If you run into this issue changing

[code]

to

[code]

will fix this.

Don't know if this is affecting anyone else so I'm not submitting a pull request.

[2014-05-31 10:44] #55 closed, assigned to nobody

[2014-05-31 22:34] dsandstrom opened #63 "Feature Request - Add initializer for gem settings."
I would like to be able to change the button default class for each app.  I'm sure not everyone wants there buttons to have classes "small radius".  Also, there are people who want there buttons to have class "success" (#43).

So I propose, an initializer gets added and settings for things like the default button class.

[2014-07-06 21:54] dgmstuart opened #64 "Cut a new gem?"
0.4 Looks like it's nearly a year old now, and some very useful features have been added since then (e.g. support for more form tags). Any chance of a new version any time soon?

Cheers :)

[2014-07-08 07:24] #34 closed, assigned to nobody

[2014-07-15 18:47] tonybd opened #67 ""undefined method `human_attribute_name' for NilClass:Class""
Everything works fine with forms that have corresponding models. The above issue happens to my form for login. I used a session controller for login and logout (no model).

[2014-07-16 13:50] #67 closed, assigned to nobody

[2014-09-23 19:34] #64 closed, assigned to nobody

[2014-10-10 02:13] #10 closed, assigned to nobody

[2014-10-10 02:36] #18 closed, assigned to nobody

[2014-10-10 02:40] #37 closed, assigned to nobody

[2014-10-13 17:37] #50 closed, assigned to nobody

[2014-10-20 01:05] dsandstrom opened #70 "Fix deprecations: and_return { } -> and_return(value)"
`and_return { value }` is deprecated. Use `and_return(value)` or an implementation block without `and_return` instead. Called from /home/me/Projects/gems/foundation_rails_helper/spec/support/mock_rails.rb:133:in `mock_everything'.

`and_return` without arguments is deprecated. Remove the `and_return`. Called from /home/me/Projects/gems/foundation_rails_helper/spec/support/mock_rails.rb:114:in `moc

[2014-10-20 03:09] dsandstrom opened #72 "Update RSpec to 3.1"

[2014-10-23 12:39] #72 closed, assigned to nobody

[2015-01-02 23:41] patricklindsay opened #74 "Radio button not rendering for nested attributes"
When I try to render a radio button for a nested attribute it simply does not appear.
This works.
```     <%= f.radio_button(:foo, "Yes") %> ```

This doesn't
[code]

The label appears but the HTML for the radio button is not rendered. Any ideas?

[2015-01-03 00:27] patricklindsay opened #75 "Radio button not rendering for nested attributes"
When I try to render a radio button for a nested attribute it simply does not appear.
This works.
```     <%= f.radio_button(:foo, "Yes") %> ```

This doesn't
[code]

The label appears but the HTML for the radio button is not rendered. Any ideas?

[2015-01-03 00:28] #75 closed

[2015-01-14 23:50] patricklindsay commented on #74
I have a fix for the problem which has also been referenced [here](https://github.com/sgruhier/foundation_rails_helper/pull/54).

[code]
Is it worth submitting a PR with the change and a supported spec? Using the @template approach is suggested in the Rails guides. Also passing in value to the label so that it relates to the particular input (meaning when you click on the label it will trigger an

[2015-01-15 21:18] dsandstrom commented on #74
@sgruhier Can you add me as a Collaborator?

[2015-01-16 07:13] sgruhier commented on #74
Added Darrell

[2015-01-16 17:24] dsandstrom commented on #74
@sgruhier Thanks.  I'll probably need RubyGems access, too, eventually.

@patricklindsay Please submit a PR with tests.  Just FYI, I will be merging #69 and #73 this weekend.

[2015-01-17 16:28] patricklindsay commented on #74
I'll submit a PR tonight. I'm also resolving all the deprecations.

[2015-01-18 00:39] dsandstrom opened #77 "Add new Readme images"
![form-preview](https://cloud.githubusercontent.com/assets/1400414/5790954/54756008-9e67-11e4-9993-f53f336f1fcd.png)
![form-preview-errors](https://cloud.githubusercontent.com/assets/1400414/5790955/56665138-9e67-11e4-92c8-ecad7fb8061f.png)

[2015-01-18 00:40] dsandstrom commented on #77
![form-preview](https://cloud.githubusercontent.com/assets/1400414/5790959/8630f9c2-9e67-11e4-807b-f21a4c8faa8a.png)

[2015-01-18 01:19] dsandstrom commented on #77
![form-preview](https://cloud.githubusercontent.com/assets/1400414/5791055/f10d45ca-9e6c-11e4-9513-a52e7a56feb9.png)
![form-preview-errors](https://cloud.githubusercontent.com/assets/1400414/5791057/f3455bb6-9e6c-11e4-882d-bbdc76bc9825.png)

[2015-01-18 01:20] #77 closed

[2015-01-18 01:24] dsandstrom commented on #77
![flash-preview](https://cloud.githubusercontent.com/assets/1400414/5791070/a13ecedc-9e6d-11e4-83cd-588fa296ef67.png)

[2015-01-18 01:38] dgmstuart commented on #77
@dsandstrom Great that you're sorting this out, but what's up with the fonts? Wouldn't it be better to just show the forms just using the default Foundation styles - including the "Helvetica Neue" fount-family?

[2015-01-18 01:49] dsandstrom commented on #77
I don't have Helvetica Neue installed on my system (Linux).  So I went with Raleway.  Please add images here if you would like.

[2015-01-18 01:50] dsandstrom commented on #77
I have an example app here: https://github.com/dsandstrom/foundation_helper_example that you can use.

[2015-01-18 01:59] dsandstrom commented on #63
Closed by #69.

[2015-01-18 01:59] #63 closed

[2015-01-18 02:13] dsandstrom commented on #74
@patricklindsay I'm fixing the RSpec deprecations right now.

[2015-01-18 02:23] dsandstrom commented on #70
Closed by #80

[2015-01-18 02:23] #70 closed

[2015-01-20 05:17] dsandstrom commented on #74
Fixed by #85.

[2015-01-20 06:14] dsandstrom commented on #74
Going to reopen because of issues shown on #85.

[2015-01-21 21:15] dgmstuart commented on #77
Here you go @dsandstrom:

Sorry to not have them tidier, but I suck at image handling :( do you mind sorting them out?

![screen shot 2015-01-21 at 21 07 58](https://cloud.githubusercontent.com/assets/393167/5845236/563bf6ec-a1b2-11e4-8f92-afe8e1fda00d.png)
![screen shot 2015-01-21 at 21 08 28](https://cloud.githubusercontent.com/assets/393167/5845237/563c9714-a1b2-11e4-9149-4b671c1f7a6d.png)
![sc

[2015-01-21 21:17] dgmstuart commented on #77
Oops! Just noticed the little autofill icons. Here are the forms without them:

![screen shot 2015-01-21 at 21 16 21](https://cloud.githubusercontent.com/assets/393167/5845302/d81cfabc-a1b2-11e4-959b-cc3d4601f50f.png)
![screen shot 2015-01-21 at 21 16 36](https://cloud.githubusercontent.com/assets/393167/5845303/d8206378-a1b2-11e4-91eb-4f852b21a4de.png)

[2015-02-01 21:39] dsandstrom commented on #74
@patricklindsay Why do you have `text: 'Yes'` instead of `label: 'Yes'`?

[2015-02-01 22:31] dsandstrom commented on #77
Trimmed borders.

![foundation-rails-form](https://cloud.githubusercontent.com/assets/1400414/5994195/d9b467ce-aa1e-11e4-914c-f696724b53ed.png)
![foundation-rails-form-error](https://cloud.githubusercontent.com/assets/1400414/5994196/dbf4bc0a-aa1e-11e4-8c18-b7d3b1b370dc.png)

[2015-02-01 22:47] dsandstrom commented on #74
I changed the radio button to use the `label` option instead of `text`.  To make it consistent with other input types and the documentation.  Also, I allow label options to be passed to the label, so one can add a class.  Also when `label: false`, the label is not generated.

Closed by #87.

[2015-02-01 22:47] #74 closed

[2015-02-01 23:02] dsandstrom commented on #53
@paulwittmann You have probably moved on, but I see the problem.  You are missing the label text as shown in [api dock](http://apidock.com/rails/ActionView/Helpers/FormHelper/label).

You have:
[code]
When it should be:
[code]
or if you want the default label:
[code]

[2015-02-01 23:06] dsandstrom commented on #53
The label helper accepts a block, but you would have to manually add a label string, like so:
[code]

[2015-02-01 23:06] dsandstrom commented on #53
Feel free to reopen if there is still a problem.

[2015-02-01 23:06] #53 closed

[2015-02-02 05:12] dsandstrom opened #89 "Time for a new release"
I think we should go with v1.0.

@dgmstuart Can you update rubygems.  If not, @sgruhier, my email is darrell.sandstrom [at] gmail.com

[2015-02-02 09:48] dgmstuart commented on #89
@dsandstrom Sure I can do it. Is there anything else that needs to be added to the changelog apart from bugfixes? Maybe a note about the updates you've made to support the latest version of Foundation (and Rails?) would be useful.

Going to 1.0.0 means declaring "The api is stable and we won't change it any time soon" right? http://semver.org/spec/v2.0.0.html I guess that's true? Happy to agree on

[2015-02-02 10:08] patricklindsay commented on #74
Should it not use custom_label so that it handles when the attribute contains an error?

[2015-02-02 15:19] dsandstrom commented on #74
The label helper does that, too.  The custom_label helper is used when it
needs to accept a block, like for check boxes.  You were just missing the
right options getting passed through.

On Mon, Feb 2, 2015, 2:08 AM Patrick Lindsay <notifications@github.com>
wrote:

[2015-02-02 15:22] dsandstrom commented on #89
I'll update the change log.

On Mon, Feb 2, 2015, 1:48 AM Duncan Stuart <notifications@github.com> wrote:

[2015-02-02 17:48] dsandstrom commented on #89
As for the API, it is largely based on Rails.  Except, `label` and `label_options`, which shouldn't be changing.

[2015-02-02 18:22] dgmstuart commented on #89
OK Cool. Shall I just add "bugfixes" and "Updated to be compatible with 5.2.2"  to the changelog then?

[2015-02-02 19:33] dsandstrom commented on #89
That works for me.  The other major change was updating the tests for RSpec
3.  But, I don't think that needs to go in the change log because it only
impacts contributors.

On Mon, Feb 2, 2015, 10:22 AM Duncan Stuart <notifications@github.com>
wrote:

[2015-02-03 00:54] dgmstuart commented on #89
Version 1.0.0 exists: https://rubygems.org/gems/foundation_rails_helper

I've also created a v1.0.0 tag

[2015-02-03 00:54] #89 closed

[2015-02-03 01:01] dsandstrom commented on #89
:+1:

[2015-03-31 15:06] collimarco opened #91 "Allow configuration of text_field default behavior or disable helper on some forms"
I like this helper, but I don't think that forcing `f.text_field`to produce the label by default is always good.

I am forced to add the option `label: false`to a lot of labels.

Another option, even better, would be to allow to disable the entire custom helper on some forms. For example when I want to use the normal rails helper (not the modified version provided by this gem) I can write:

`form_

[2015-03-31 16:00] dgmstuart commented on #91
These are great ideas, but I feel like they're feature requests - would you agree? Pull requests are very welcome :)

The first one should be implemented using the new [`Configuration` class](https://github.com/sgruhier/foundation_rails_helper/blob/45035047e515bd59aee428da9704cb33547559b2/lib/foundation_rails_helper/configuration.rb). This would allow users to configure their preferred default beh

[2015-03-31 16:15] dsandstrom commented on #91
Add the option `auto_labels: false` to the `form_for` method.  It should be what you are looking for.  Sorry, it's not documented.

[2015-03-31 16:26] collimarco opened #92 "hint produces an unwanted attribute"
[code]

Produces:

[code]

As you can see there's an unwanted `hint`attribute on the input.

I think the expected behavior is only to produce the span element.

[2015-03-31 16:29] collimarco commented on #91
Thank you very much!

Maybe it should be added to the documentation because it's a useful feature :)

[2015-03-31 16:34] dsandstrom commented on #91
Yes.  I'll keep this open to remind me.

[2015-03-31 18:06] dgmstuart commented on #91
@dsandstrom also worth adding to the Configuration class if it's easy to do so

[2015-04-01 09:40] collimarco commented on #92
Fixed via https://github.com/sgruhier/foundation_rails_helper/pull/96

[2015-04-01 16:24] dsandstrom commented on #92
Thanks for PRs.  I'll merge them this weekend if not earlier.

[2015-04-03 18:48] collimarco commented on #92
#96 merged

[2015-04-03 18:48] #92 closed

[2015-04-15 16:34] lessless opened #97 "Errors for nested forms"
Hello! Are nested form errors supported?

[2015-04-15 18:02] dgmstuart commented on #97
I thought so - have you come across a case where they aren't? If so, please show some example code so that we can investigate.

[2015-04-16 12:49] lessless commented on #97
@dgmstuart sure they are! was a flack on my side, sorry for that ;)

[2015-04-16 12:49] #97 closed

[2015-04-16 13:17] dgmstuart commented on #97
@lessless no problem. Best of luck with your project :)

[2015-04-24 12:42] dyatlov opened #98 "Flash helper needs improvement :)"
https://github.com/plataformatec/devise/issues/1777

Devise adds `:timedout = true` value there and it breaks flash messages.
It should be filtered out somehow.
Better of course is to have configurable allowed keys for which we render messages.

[2015-04-28 19:59] dgmstuart commented on #98
Hi @dyatlov, thanks for raising this. Not sure I quite follow the issue - how does it break the messages? Can you describe the scenario which breaks and what the desired behaviour is? Is there a failing spec you can add?

[2015-04-29 08:34] dyatlov commented on #98
Hi @dgmstuart
Devise inserting this: `flash[:timedout] = true`
So, when you render then messages in a loop, you add

[code]

but value there is `true` (boolean type) and therefore we have an error from rails which is telling us about incompatible types.

You can try it yourself.. simply put `flash[:timedout] = true` in one of your actions.. you will see how it impacts :)

[2015-04-29 08:36] dyatlov commented on #98
Desired behaviour is to ignore such keys.. or maybe check if value has type of string.. not sure. In my clone I did this: https://github.com/dyatlov/foundation_rails_helper/commit/5acf532664dfe78bebcb82dea1fba0e5f8daf7c6

[2015-04-29 09:09] dgmstuart commented on #98
Sorry - I should have been more specific: by 'behaviour' I mean what does the user see? From your description I guess desired behaviour is to do nothing?

[2015-04-29 10:35] dyatlov commented on #98
@dgmstuart
That's right. Desired behaviour is to ignore such values..

[2015-04-29 10:41] dgmstuart commented on #98
Lol - you're still talking about code (ignoring values) and not what the user sees ;)

[2015-04-29 14:56] dyatlov commented on #98
:)
did you read original issue and comments I've posted? https://github.com/plataformatec/devise/issues/1777
Devise adds custom data to flash hash for their internal needs. They tell that `flash` thing is not for just messages but for everything which should be kept temporarily.
So according to their response we shouldn't put everything what is in flash hash to user's screen but only data which we

[2015-04-29 15:01] dyatlov commented on #98
Added spec for this: https://github.com/sgruhier/foundation_rails_helper/pull/99

[2015-04-29 16:14] dsandstrom commented on #98
@dgmstuart In the production environment, we would see a 500, in the development environment we would see ```undefined method `+' for true:TrueClass```.

This is annoying, but I don't see anything in the Flash documentation from stopping devise, or any other gem, from using the flash hash for something besides UI messages.  Instead of blacklisting `:timedout`, we should blacklist all keys, and whi

[2015-04-29 16:46] dgmstuart commented on #98
@dsandstrom I think the approach you describe would result in the helper breaking people's sites a hard to detect ways: custom flash types would silently fail to be rendered, so if they're not covered by the user's specs, and they're not commonly generated in normal usage, then this would be undetected.

How about instead we just reject flashes unless the value is of a compatible type. Would `valu

[2015-04-29 16:56] dyatlov commented on #98
I think `value.is_a?(String)` is better

[2015-04-29 16:58] dsandstrom commented on #98
Yeah, it might be confusing for some users.  However, there is nothing stopping the FooBarWidget gem from setting `flash[:timedout] = 'widgets'` and telling us it should only be used for internal purposes and not exposed to app users.

@dyatlov I was just going to say that.

[2015-04-29 16:58] dsandstrom commented on #98
Sorry, wrong button.

[2015-04-29 17:01] dyatlov commented on #98
@dsandstrom agree. There must be an optional config option to limit allowed keys.

[2015-04-29 17:19] dgmstuart commented on #98
@dyatlov typechecks are evil. `value.respond_to?(:to_s)` would be better if that's what we're checking for.

I guess what you're suggesting then is allowing a config to specify a blacklist of keys which are never intended to be displayed to the user. I can agree with that: these cases are most likely the exceptions. And will fail noisily when they're not excluded. @dsandstrom - do you agree

[2015-04-29 17:26] dyatlov commented on #98
@dgmstuart no, I suggest to optionaly turn on or off feature to enable just a subset of keys. I personally need just `:error` and `:notice`.. though I can see that blacklisting can help too.

Regarding `:to_s` - it wont help against `true` type. If value is not string then it's not a message we expect, right?

[2015-04-29 17:28] dyatlov commented on #98
It's better to miss some flash keys than to not blacklist a key which will crash your app in a moment you won't expect.

[2015-04-29 17:58] dgmstuart commented on #98
I disagree: I think it's better to fail noisily - which allows the developer to fix things - than to fail silently and make it very difficult to identify why a particular flash doesn't display

—
Sent from Mailbox

On Wed, Apr 29, 2015 at 6:28 PM, Vitaly Dyatlov <notifications@github.com>
wrote:

[2015-04-29 18:21] dyatlov commented on #98
Ok, blacklist would work then.
Just in case of that Timeoutable from devise I didn't even test it (as normally it's not required when you turn it on) besides checking that app still works and sent it to server where a client said cool! but then in 10 minutes after timeout: wtf.. site doesnt work anymore!!! (because every page now tries to render that flash) and client couldn't work at all until I

[2015-04-29 18:42] dsandstrom opened #100 "Add abide validation helpers"
Reference: http://foundation.zurb.com/docs/components/abide.html

If a field has a `required` attribute, the form should get a `data-abide` attribute and a `<small class="error">required</small>` should be added below the field.  The error message should be able to be edited with a field option.

[2015-04-30 00:07] dgmstuart commented on #98
@dyatlov I've done some refactoring to do away with the `+=` (which was dodgy anyway) in favour of `capture`/`concat`:

https://github.com/dgmstuart/foundation_rails_helper/commit/7773b35b8474c85a574603e709f31cc141d82a4b

With that change, the app doesn't blow up anymore on keys with non-string values - it just display amn alert with a value of "true". Next step is to actually exclude that list of

[2015-04-30 06:43] dyatlov commented on #98
thanks @dgmstuart
awesome!

[2015-05-02 23:48] dsandstrom commented on #98
Fix has been merged, thanks @dgmstuart.

[2015-05-02 23:48] #98 closed

[2015-05-03 00:55] #91 closed

[2015-05-03 01:00] dsandstrom commented on #91
I don't think this is a good fit for a configuration option.  If one wants to disable labels for all forms, there isn't much point in using this gem.

[2015-05-25 04:36] djkz opened #103 "Add ability to add prefix and postfix"
Foundation gives you a number of options to add prefix and postfix to your form inputs with a `<span>`

It would be nice if that functionality transferred over to the form helper through an option.

[2015-05-25 22:41] dsandstrom commented on #103
Good idea, however, I feel it might be a mess to have to deal with column classes.

One of their examples:
[code]
The erb might be:
[code]

[2015-05-26 06:09] dsandstrom commented on #103
Or maybe
[code]
Then, subtract 12 from each to get the input's columns classes.

[2015-05-26 17:34] dsandstrom commented on #103
Actually, it would be better to keep the prefix settings separate:
[code]

@djkz, If you want to work on a pull request, we can merge it.

[2015-05-26 18:17] djkz commented on #103
It gets a bit complicated if you want to support buttons and mixed prefixes and postfixes. I wonder if using flex would be a cleaner solution? http://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/

[2015-05-26 18:40] dsandstrom commented on #103
That looks nice.  However, does foundation have any flexbox built into their styles?  I don't think we should add css to this gem.

[2015-05-26 19:07] djkz commented on #103
Looks like not yet, it's planned for the next version: http://zurb.com/article/1333/foundation-a-new-grid

Wrapping everything into a row and calculating main element's size from the 12 - prefix - postfix is the way to go for now, not sure if it's possible to also support buttons and other elements that they showed in their example. Maybe by passing the content_tag for the element directly into th

[2015-05-26 19:19] dsandstrom commented on #103
As you say, anything more complicated than a span is probably a bad idea.  The user can always fallback to making the row/columns themselves.  And if they only need to [support IE 10+](http://caniuse.com/#feat=flexbox), they can use flexbox.

[2015-06-07 02:24] dsandstrom commented on #103
Fix merged.

[2015-06-07 02:24] #103 closed

[2015-07-11 05:40] sshaw opened #106 "Radio Button Helper Renders Value in Label"
[code]

Renders:

[code]

[2015-07-11 05:50] dsandstrom commented on #106
Thanks.  Can you add "Expected" html?

[2015-07-11 14:56] sshaw commented on #106
Okay, looking at this with a clear head I see that this is correct.

Unlike Rails' default `radio_button` method the helper adds the `label` and need something to display, and the label can be overridden by the `:label` options.

[2015-07-11 14:56] #106 closed

[2015-11-23 13:10] jlaw90 commented on #100
I agree that abide validation would be great, I don't think the framework should automatically add the data-abide attribute to the form based on specific attributes on controls however.

If `form_for` had an option to enable abide validation which subsequently added the error tags to controls then that would work great in all scenarios.  The main problem here would be how to get a generalised erro

[2015-11-24 19:39] JoeWoodward opened #108 "Needs a version bump."
I've just been scratching my head as to why prefix/postfix wasn't working even though it is documented.

It seems that you haven't done a version bump for a while now. master is no longer the same as version 1.0.0

There should be a version bump for each PR introduced.

For any one else trying to get prefix/postfix working, for now you can use the master branch
[code]

[2015-11-24 19:41] JoeWoodward commented on #108
Also on a side note, I've noticed that you have a typo in the README.

[code]

should be
[code]

[2015-11-24 22:14] dsandstrom opened #110 "Migrate TravisCI to container-based infrastructure"
https://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

[2015-11-24 22:16] dsandstrom opened #111 "Remove Ruby 1.9.3 from supported Rubies"
Tests fail: https://travis-ci.org/sgruhier/foundation_rails_helper/jobs/93031454

[code]

If there is no easy fix, support should be dropped.

[2015-11-25 22:46] dgmstuart commented on #108
@JoeWoodward thanks for the nudge - we should indeed release a new version. I'll work out what should go in the changelog and see if I can cut a new gem (though it looks like there might be issues with Travis at the moment?)

I'm not sure where the idea of a version bump for each PR has come from - of course that would be nice, but it's not a practice I've ever come across - probably partly becaus

[2015-11-25 22:52] dgmstuart commented on #108
Would you mind raising a PR for the documentation fix while I do that?

[2015-11-25 22:53] dgmstuart commented on #108
Oh, you already did - thanks :)

[2015-11-25 22:57] dgmstuart commented on #111
Having a look at this.

This seems relevant: http://stackoverflow.com/a/33856850/1035431

[2015-11-25 23:00] dsandstrom commented on #111
Looks like it was fixed at Travis CI: https://github.com/travis-ci/travis-ci/issues/5145

[2015-11-25 23:02] dgmstuart commented on #111
Cool - Looks like the branch is rebuilding. Did you kick that off somehow, or is it just coincidence??

[2015-11-25 23:03] dsandstrom commented on #111
I restarted it.

[2015-11-25 23:04] dgmstuart commented on #108
@dsandstrom any reason not to release master as 1.1.0?

[2015-11-25 23:04] dsandstrom commented on #111
Didn't work. We might have to do the .travis.yml fix.

[2015-11-25 23:32] dgmstuart commented on #111
OK - I'll give it a go

[2015-11-25 23:43] dgmstuart commented on #111
Well that didn't work either :(

[2015-11-25 23:43] dgmstuart commented on #111
I wonder if the containerised version will address this? trying that

[2015-11-25 23:48] dgmstuart commented on #110
This works (i.e. we get the `This job is running on container-based infrastructure` message in https://travis-ci.org/sgruhier/foundation_rails_helper/jobs/93270316), but doesn't address the issue in #111 :(

[2015-11-25 23:51] dgmstuart commented on #111
Nope :(

[2015-11-25 23:53] dsandstrom commented on #111
Travis CI problems are annoying because you can't test locally.

[2015-11-26 00:01] JoeWoodward commented on #108
@dgmstuart you're right, not every repo does bump for each PR. I think it would be a good practice but that's in an ideal world. I'm not sure if you use vim but there's an amazing plugin by tpope called git-bump that makes it super easy to bump the versions.

Ideally versions should follow the semantic versioning definition (http://semver.org/), hence why I suggested each PR. Or each time a group

[2015-11-26 00:02] dgmstuart commented on #111
@dsandstrom Am I definitely including those lines in the .yml correctly?

So the fix is in the dpl - as far as I can understand, that's something that travis uses internally to do the builds. What I can't work out is what version travis.org is running. Could it just be that .org hasn't caught up yet?

[2015-11-26 00:24] dgmstuart commented on #108
@JoeWoodward Yup - I'm aware of how Bundler handles pointing at github branches ;)

As far as I'm aware, semver doesn't say anything about how much (or little) should go into each version bump.

Like I say, we're all just trying to squeeze things in around our actual jobs and lives. Telling open source maintainers how they "should" be doing things might be taken the wrong way.

Hopefully once this

[2015-11-26 00:29] JoeWoodward commented on #108
@dgmstuart didn't mean to offend, I appreciate your work. I'm pretty tired so that was probably worded very poorly. If there's anything I can do to help let me know.

[2015-11-26 00:30] dgmstuart commented on #108
@JoeWoodward no worries :) We're all good

[2015-11-26 01:52] dsandstrom commented on #108
@dgmstuart I see no problems with this (after the PRs are merged of course).

[2015-11-27 21:29] dgmstuart commented on #111
See https://github.com/sgruhier/foundation_rails_helper/pull/116#issuecomment-160206451

[2015-11-28 10:35] #110 closed

[2015-11-28 10:38] dsandstrom commented on #111
Fixed by #117.  Thanks @dgmstuart & @JoeWoodward

[2015-11-28 10:38] #111 closed

[2015-11-28 15:21] dgmstuart commented on #108
@dsandstrom This is now building. FYI: I'll release it now and we can release another version with @JoeWoodward's PRs later when they're merged.

[2015-11-28 15:31] dgmstuart commented on #108
1.1.0 is released: https://rubygems.org/gems/foundation_rails_helper

[2015-11-28 15:31] #108 closed

[2015-11-28 15:34] dgmstuart commented on #108
@dsandstrom would you like me to add you to the owners on rubygems.org, so that you could push new versions?

http://guides.rubygems.org/command-reference/#owner

[2015-11-28 22:26] dsandstrom commented on #108
Yes, that would make things easier.  I sent you an email.

[2015-12-29 19:06] dsandstrom opened #121 "Support for Foundation 6"
http://foundation.zurb.com/apps/docs/#!/

This will need to be verified since I have not tried it yet.

[2016-01-21 20:54] CiTroNaK commented on #121
:+1:

For example Alert is now Callout.

[2016-02-27 15:51] 824222934 opened #122 "fggh"

[2016-02-29 13:33] dgmstuart commented on #122
@dsandstrom looks like a bot or a hacked account - not sure what the procedure is for reporting that sort of thing.

[2016-02-29 13:34] #122 closed

[2016-02-29 17:52] dsandstrom commented on #122
I reported the user via: https://github.com/holman/ama/issues/164

[2016-03-03 23:29] dsandstrom commented on #121
I started a `foundation-6` branch for foundation 6 users.
[code]

[2016-05-08 21:29] kofronpi opened #128 "Support rails 5"
Please add support for rails 5:

[code]

Thanks !

[2016-06-20 21:46] dsandstrom commented on #128
Fixed by #127

[2016-06-20 21:46] #128 closed

[2016-06-21 00:17] dsandstrom opened #131 "alias_method_chain is deprecated"
DEPRECATION WARNING: alias_method_chain is deprecated. Please, use Module#prepend instead. From module, you can access the original method using super. (called from <module:FormHelper> at /Users/dsandstrom/Projects/einstein_video5/vendor/bundle/ruby/2.3.0/bundler/gems/foundation_rails_helper-646bd8477bf6/lib/foundation_rails_helper/action_view_extension.rb:19)
DEPRECATION WARNING: alias_method_cha

[2016-06-29 01:00] iamlenox commented on #121
Is compability with Foundation 6 still pending on this?

[2016-06-29 01:08] dsandstrom commented on #121
It works, just have to use branch for now.

[2016-07-16 23:36] dgmstuart opened #136 "Failing spec with Rails 5"
After installing Rails 5 and freshly installing this gem, the following spec fails:

[code]

It's failing because the `type` is now `datetime-local` (see below). [This has been introduced in Rails 5](http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-datetime_field)
([Old behaviour was to set type as `datetime`](http://api.rubyonrails.org/v4.2.0/classes/ActionView/Helpe

[2016-07-16 23:41] dgmstuart commented on #136
@dsandstrom I guess we can treat this one of two ways:
1. Treat it as a breaking change and decide that we need a separate branch for Rails 5
2. Decide it doesn't matter much and do a fuzzy match:
[code]
_(matches inputs with types beginning with "datetime")_

I'll submit a PR for the latter

[2016-07-18 17:22] dsandstrom commented on #136
I went with option 1 for the foundation-6 branch.  I never commited the same fix to master, thinking we would stop development on master and focus on foundation-6 only.  Using the fuzzy search is probably better anyhow.

[2016-07-18 22:44] dgmstuart commented on #136
Cool - if you think it's OK, would you mind merging?

[2016-07-19 23:19] #136 closed

[2016-09-10 13:48] dgmstuart commented on #131
I've done some investigation into this:

## What is `alias_method_chain` used for?

The forms functionality of Foundation Rails Helper works by overriding the
definitions of the two main form helpers in ActionView:

  - `form_for`
  - `fields_for` (used for nested forms)

It does this by monkeypatching those function definitions (in
`ActionView::Helpers::FormHelper`). Since it only wants to modify

[2016-09-10 13:50] dgmstuart commented on #131
I propose that we go with the redesign. The impact is that users of the gem would have to explicitly configure their applications to use the form builder, with the benefit that the different features of the gem could be used independently.

[2016-09-10 14:10] dgmstuart commented on #131
I'm working on a PR to do the preliminary cleanup of `lib/foundation_rails_helper/action_view_extension.rb`

[2016-09-10 15:04] dgmstuart commented on #131
I found another way to include the form builder! 😄

[code]

[2016-09-10 15:14] dgmstuart commented on #131
The above PR actually fixes this issue.

[2016-09-11 22:53] dgmstuart opened #144 "Release a new gem version for Rails 5 support"
Once #131 is fixed (by merging #142), I think that's the last issue preventing us officially supporting Rails 5, so we should release a new gem version (1.3.0?) at that point.

[2016-09-13 05:07] dsandstrom commented on #131
Excellent write up, thanks for digging into this.  I will review the options/PRs this week, however it seems you have found an elegant solution for this particular issue.

[2016-09-13 19:23] #131 closed

[2016-09-14 17:11] dsandstrom commented on #77
Foundation 6 screens
![foundation_rails_helper-before](https://cloud.githubusercontent.com/assets/1400414/18522106/8b981524-7a63-11e6-8450-0605cc310205.png)
![foundation_rails_helper-after](https://cloud.githubusercontent.com/assets/1400414/18522107/8d0bfa24-7a63-11e6-8c0a-12757528b9ee.png)

[2016-09-14 17:16] dsandstrom commented on #77
![foundation_rails_helper-callout](https://cloud.githubusercontent.com/assets/1400414/18522256/3d13c97e-7a64-11e6-9ee2-33adc93cd573.png)

[2016-09-14 17:26] dsandstrom opened #145 "Foundation 6 - Form input "hint" is now "help text""
http://foundation.zurb.com/sites/docs/forms.html#help-text

[2016-09-14 17:36] dsandstrom opened #146 "Foundation 6 - Change default button class"
The "radius" class isn't supported anymore.  I suggest we change the default class to `"success button"`

http://foundation.zurb.com/sites/docs/button.html

[2016-09-14 18:05] dsandstrom commented on #144
This can be closed, right?

[2016-09-14 21:21] dgmstuart commented on #146
Oh foundation. How you love to mess with your own fundamental design elements 😜

[2016-09-14 21:27] dgmstuart commented on #146
Why

[2016-09-14 21:27] #146 closed

[2016-09-14 21:28] dgmstuart commented on #144
heh - we said before that we were supporting rails 5, so I guess it was fine for it to have been a patch release (1.2.2) rather than a feature.

[2016-09-14 21:28] #144 closed

[2016-09-14 22:13] dsandstrom commented on #146
You can still add a radius to all buttons using `$global-radius`.  This is probably a better approach because it keeps them looking consistent.  In addition, the `'hollow'` class was added, which seems cool.

[2016-09-15 17:44] dsandstrom commented on #145
Closed by #151

[2016-09-15 17:44] #145 closed

[2016-09-16 16:55] #121 closed

[2016-09-16 17:28] dsandstrom opened #155 "Release 3.0.0"
TODO:
- [x] Merge #162
- [x] Update readme with new API
- [x] Update changelog

[2016-09-19 22:38] dsandstrom commented on #155
Sorry, readme is incorrect.  Use github version until 3.0.0 is released:
[code]

[2016-09-20 17:33] jeffse opened #157 "Make error_for method in form_builder public"
Is there a compelling reason to keep the `errors_for` method in `FormBuilder` private? I can see a use for this in my own code, where I want to be able to display the error on a property that isn't directly on my form. It's already coded here with the styling appropriate for Foundation, so I'd hate to have to duplicate the code in my own project just to use it.

Way back when, Rails v2 had a metho

[2016-09-20 17:49] dsandstrom commented on #157
I don't see any reason why it has to stay private.

[2016-12-09 10:40] josepjaume commented on #155
Hi! Is there any progress on this? We're shipping a gem that needs the latest changes on `foundation_rails_helper` and it's kind of awkward to ask the developer to include GitHub's version.

Anything we can help you with?

Thanks for such a nice work!

[2016-12-30 00:09] #157 closed

[2017-01-09 08:50] josepjaume commented on #155
Ping :). What are your goals for 3.0.0? Can I help you? It'd be so useful to get a stable release!

[2017-01-09 17:21] dsandstrom commented on #155
See todos

[2017-01-13 23:38] dsandstrom commented on #155
A beta is now available:
[code]

[2017-01-14 00:42] dsandstrom commented on #155
A release candidate is now available:
[code]

[2017-01-14 08:41] josepjaume commented on #155
Thanks! Already using it 👍

[2017-02-08 17:20] akaspick opened #174 "Overriding the field_error_proc"
Globally overwriting the field_error_proc can cause issues if multiple form builders are used in the same app.

A potential solution is to use a similar technique that is used in https://github.com/plataformatec/simple_form, specifically here..

https://github.com/plataformatec/simple_form/blob/48cab46ca4d26236b446d870f5d25cd27e4b4701/lib/simple_form.rb#L175-L178

and here...

https://github.com/p

[2017-02-08 19:21] dsandstrom commented on #174
What would be a use case for using multiple form builders?

[2017-02-08 19:28] akaspick commented on #174
@dsandstrom One form builder for an admin backend and another for a public frontend as one example.

[2017-05-29 08:19] Sohair63 opened #175 "display_flash_messages return nil on redirection"
This is the problem that I start facing of HTML request Format.
After `redirect_to some_path, notice: 'some message'` UI does not show any alert or notice.

NOTE THAT: I have tried `flash.now` `flash.keep` and `flash[:notice]`, nothing helped me.

I am Using:

- Rails 5.1.1
- foundation-rails 6.3.1.0
- foundation_rails_helper 3.0.0.rc2 from https://github.com/sgruhier/foundation_rails_helper.git (

[2017-06-02 23:46] dsandstrom commented on #175
I can't reproduce so I have some follow questions:

1. Do you have `<%= display_flash_messages %>` in your layout file?
2. If so, view the browser source and look for a ` <div class="flash callout success" data-closable="">` tag after redirecting.
3. If not there, does it work with foundation 6.2?

[2017-06-02 23:59] #155 closed

[2017-06-06 09:55] Sohair63 commented on #175
Yes
1. I have that.
2. Yes this is there.
3. I am already using foundation 6

[2017-06-06 18:32] dsandstrom commented on #175
Is the html for the flash notice in the source after a redirect?  If so, it sounds like this gem is doing it's job.  It may be a css issue then.  Am I misunderstanding something?

The reason I ask about 6.2/6.3 is because I haven't upgraded any apps to Foundation 6.3, so I'm not sure if there is an issue with that, but I doubt it.

[2017-06-16 19:11] dsandstrom commented on #175
Going to close this since the lack of response.  If this is still an issue, please provide an example project that I can reproduce the problem on.

[2017-06-16 19:11] #175 closed

[2020-05-19 14:30] kaoboy7 opened #178 "Newest changes that include update to support rails 6 in gemspec not in rubygem.org"
Trying to upgrade my app to rails 6. Is it possible to push the latest changes to rubygems. Thanks!

[2020-11-05 08:28] mrcasals commented on #178
Hi, @sgruhier! Any chance we could have this? 😄

Thanks!

[2021-01-19 17:12] kaoboy7 opened #180 "Can we release a new version of the gem so we can upgrade our rails to >= 6.1"
To ruby gems. Last release was 2017. Thanks!

[2021-01-28 17:34] sgruhier commented on #180
done

[2021-01-28 17:34] #180 closed

[2021-03-03 17:29] mrcasals opened #181 "Publish v4.0.0 code on GitHub"
Hi, @sgruhier

It looks like a version 4.0.0 of this gem was published, but the code is not yet on GitHub. Could you push the code?

Here's a diff of the code in Rubygems between versions v3.0.0 and v4.0.0:

https://my.diffend.io/gems/foundation_rails_helper/3.0.0/4.0.0

Thanks!

[2022-01-02 20:35] werebus commented on #181
As far as I can see, the only code change in 4.0.0 on rubygems.org that isn't yet on `master` in this repository is the following:

[code]

That is, the version bump produced by the gem release process hasn't made its way here, but you aren't missing any bug fixes or features or anything.

[2022-01-02 20:38] werebus commented on #178
FYI, Version 4.0.0 on rubygems contains the fixes for Rails 6.0 and 6.1 (#177 & #179)

[2022-01-27 19:20] alecslupu commented on #181
@werebus, i can confirm that the only difference between V4 on rubygems and master version from here is the Version Bump commit.

Does anyone has that particular commit and is willing to push it to repo, so we can have all the code public?

cc @sgruhier